* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #7e7e7e;
    user-select: none;
}

#canvas {
    width:100%;
    height: 500px;
    background-color: #575757;
    position: relative;
    overflow: hidden;
}
#canvas>div {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 50px;
    min-height: 30px;
}

#canvas .object_class {
    border: 1px solid #000;
    min-width: 150px;
    border-radius: 10px;
    overflow: hidden;
}
#canvas .object_class>.title {
    background-color: hsl(25, 81%, 53%);
    border-bottom: 1px solid #000;
    padding: 2px 5px 2px 5px;
    font-size: 1em;
}
#canvas .object_class>.properties {
    background-color: hsl(25, 81%, 35%);
    list-style: none;
    min-height: 50px;
    padding: 2px 5px 2px 5px;
    font-size: 0.8em;
}
#canvas .object_class>.methodes {
    background-color: hsl(25, 81%, 35%);
    border-top: 1px solid #000;
    list-style: none;
    min-height: 50px;
}
#canvas .object_function {
    background-color: hsl(78, 81%, 49%);
}

/*
BlockStatement
VariableDeclaration
ExpressionStatement
FunctionDeclaration
ObjectExpression
FunctionExpression
*/
.BlockStatement {
    background-color: #e5ed29;
}
.VariableDeclaration {
    background-color: #7ced29;
}
.ExpressionStatement {
    background-color: #29eda9;
}
.FunctionDeclaration {
    background-color: #ed29e5;
}
.ObjectExpression {
    background-color: rgb(0, 39, 201);
}
.FunctionExpression {
    background-color: #0a860e;
}


.seafScope {
    background-color: #fa7d00;
    overflow: hidden;
    resize:both;
}
.class {
    background-color: #ed29e5;
    overflow: hidden;
    resize:both;
    width:100px;
}
















